flask_cors
flask
flask-socketio
eventlet
langchain
langchain-community
ctransformers
unstructured
langchain-unstructured
faiss-cpu
pypdf
tiktoken
lxml
sentence-transformers  
gTTS
pydub
SpeechRecognition
python-dotenv
